<tr>
    <td>
        <table class="table table-bordered">
            <tr>
                <td colspan="2"><h3>{{ kb.summary }}</h3></td>
            </tr>
            <tr>
                <td class="col-md-2"><strong>Affects: </strong>{{ kb.affected_sites }}</td>
                <td class="col-md-4"><strong>Expected Versions: </strong>{{ kb.versions_list }}</td>
            </tr>
            <tr>
                <td colspan="2"><strong>Description: </strong>{{ kb.description | safe }}</td>
            </tr>
            <tr>
                <td colspan="2"><strong>Workaround: </strong>{{ kb.workaround | safe }}</td>
            </tr>
            {% if jira_link %}
                <tr>
                    <td colspan="2" class="text-right"><a href="{{ kb.permalink }}"
                                                          target="_blank"><strong>{{ kb.key }}</strong> in
                        JIRA</a></td>
                </tr>
            {% endif %}
        </table>
    </td>
</tr>