<tr>
    <td>
        <table class="table table-bordered">
            <tr>
                <td colspan="3"><h3>{{ kb.summary }}</h3></td>
            </tr>
            <tr>
                <td class="col-md-2"><strong>Reporter: </strong><a href="mailto:{{ kb.contact }}">Contact Reporter</a></td>
            </tr>
            <tr>
                <td colspan="3"><strong>Description: </strong>{{ kb.description | safe }}</td>
            </tr>
            {% if jira_link %}
                <tr>
                    <td colspan="3" class="text-right"><a href="{{ kb.permalink }}"
                                                          target="_blank"><strong>{{ kb.key }}</strong> in
                        JIRA</a></td>
                </tr>
            {% endif %}
        </table>
    </td>
</tr>