ensembl-prodinf-dbcopy@git+https://github.com/Ensembl/ensembl-prodinf-dbcopy.git@1.7.1rc4
ensembl-prodinf-webhelp@git+https://github.com/Ensembl/ensembl-prodinf-webhelp.git@1.1.1
ensembl-prodinf-masterdb@git+https://github.com/Ensembl/ensembl-prodinf-masterdb.git@1.2.0
ensembl-prodinf-jira@git+https://github.com/Ensembl/ensembl-prodinf-jira.git@1.1.2
ensembl-metadata-admin@git+https://github.com/Ensembl/ensembl-metadata-admin.git@0.0.2
Django~=3.2
django-jazzmin~=2.6
django-cors-headers==3.10.1
djangorestframework~=3.12
django-autocomplete-light==3.8.2
django-ckeditor>=6.0.0,<=6.1.0
django-environ~=0.8.1
gunicorn~=20.1.0
django-admin-inline-paginator~=0.2.0
mysqlclient~=2.1.0
python-dotenv~=0.19.2
docutils~=0.18.1