{% extends 'registration/registration.html' %}

{% block registration-content %}
    <h2 class="card-title text-bold text-center">Set new password</h2>
    <div class="card-text">
    {% if validlink %}
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        <form method="post" novalidate>
            {% csrf_token %}
            {% if form.errors %}
                <div class="callout callout-danger">
                    {{ form.errors }}
                </div>
            {% endif %}
            <div class="input-group mb-3">
                <input type="password" name="new_password1" class="form-control" placeholder="Type your new password"
                       required>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <p>
                    {{ form.new_password1.help_text }}
                </p>
            </div>
            <div class="input-group mb-3">
                <input type="password" name="new_password2" class="form-control"
                       placeholder="Type again your new password" required>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary {{ jazzmin_ui.button_classes.primary }} btn-block">Change my password</button>
                </div>
            </div>
        </form>
    {% else %}
        <p class="text-danger">Invalid token.</p>
        <p class="card-text">
            <a href="{% url 'password_reset' %}">Request a new password reset token</a>
        </p>
    {% endif %}
    </div>
</div>
{% endblock %}
