{% extends "admin/base_site.html" %}
{% load static i18n %}
{% load static %}
{# Setup favicon #}
{% block extrahead %}<link rel="shortcut icon" type="image/png" href="{% static "logo.png"%}/>{% endblock %}

{# Setup browser tab label #}
{% block title %}{{ title }} |  {% trans "Your title" %}{% endblock %}

{# Setup branding #}
{% block branding %}
    <h1>
        <a href="{% url 'admin:index' %}">
            {# Your logo here #}
            <img style="background-color: white" src="{% static "logo.png"%}" alt="Ensembl Production" height="50%" width="50%">
            <br><br>
            </span>{{ site_header|default:_('Django administration') }}
        </a>
    </h1>
{% endblock %}