{% load static %}
<div class="container-md">
    <div class="row">
        {% for app in portal_app_list %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="{% static app.img %}" alt="{{ app.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ app.app_name }}</h5>
                        <!--p class="card-text">{{ app.short_description }}</p-->
                        <a href="{{ app.app_admin_url }}" class="btn btn-primary">Access</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<!-- /.row -->