{% load i18n admin_urls %}
{% block object-tools-items %}
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-edit"></i>
                Tools
            </h3>
        </div>
        <div class="card-body">
            <div class="form-group">
                {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
                <a href="{% add_preserved_filters history_url %}"
                   class="button btn btn-secondary form-control">{% trans "History" %}</a>
            </div>
            <div class="form-group">
                <a href="{% url 'admin:ensembl_dbcopy_requestjob_add' %}"
                   class="button btn btn-secondary form-control" role="button">Submit New Copy</a>
            </div>
            <div class="form-group">
                <a href="{% url 'admin:ensembl_dbcopy_requestjob_change' original.job_id %}"
                   class="button btn btn-secondary form-control" role="button">Refresh</a>
            </div>
            <div class="form-group">
                <a href="{% url 'admin:ensembl_dbcopy_requestjob_add' %}?from_request_job={{ original.pk }}"
                   class="button btn btn-secondary form-control" role="button">Resubmit job</a>
            </div>
            {% if user.is_superuser %}
                <div class="form-group">
                    <a href="{% url 'ensembl_dbcopy:reset_failed_jobs' original.job_id %}"
                       style="background-color: #c14747;color:white"
                       class="button btn btn-secondary form-control" role="button">Reset failed jobs</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
