.related-widget-wrapper .select2, .vTextField {
    min-width: 500px;
}

li input[type=checkbox] {
    display: inline;
}

ul.messagelist li.warning{
    color: #856404;
    background-color: #ffc107;
    border-color: #ffeeba;
}