body {
    padding-top: 65px;
    padding-bottom: 30px;
}

.footer {
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    z-index: 1000;
}

.frame-row {
    top: 65px;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    left: 0;
    right: 0;
    bottom: 30px;
}

.frame-row.admin, .frame-row.ensembl_production_db, .frame-row.ensembl_website {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}

#topNavBar {
    margin-bottom: 10px;
}

#topNavBar {
    margin-bottom: 10px;
}

.sidebar {
    top: 50px;
}
.sidebar-popup-container {
    top: 65px;
}
#topNavBar ul li {
    list-style: none;
}
#user-tools .sidebar-dependent {
    top: 80px;
}
.related-popup-container {
    top: 65px;
}
.form-row.errors {
    display: block;
}

#analysis-group .form-row {
    display: contents;
}
.related-widget-wrapper {
    display: flex;
}