<!-- headers.inc.html -->
{% load static %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="Ensembl Production Team" />
  <link rel="shortcut icon" href="{% static "portal/img/favicon.ico" %}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{% static "portal/img/ensembl-apple-touch-icon.png" %}" />
  <link rel="icon" type="image/png" sizes="32x32" href="{% static "portal/img/ensembl-favicon-32.png" %}" />
  <link rel="icon" type="image/png" sizes="16x16" href="{% static "portal/img/ensembl-favicon-16.png" %}" />
  <link rel="manifest" href="{% static "site.webmanifest" %}" />
  <!-- Bootstrap core CSS -->

  <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" />
  <link href="{% static "css/bootstrap-reboot.min.css" %}" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="{% static "css/home.css" %}" rel="stylesheet" />
<!-- headers.inc.html -->
