.tablekey {
  background-color: lightgray;
  text-align : right;
  font-weight: bold;
  padding: 5px 5px 5px 5px;
  height: 100%;
}
.tablevalue {
  text-align : left;
  padding: 5px 5px 5px 5px;
  border-radius: 4px;
}
.overall_status {
  font-weight: bold;
  padding: 0.75em;
}

.Complete {
  background-color: lightgreen;
}
.Incomplete {
  background-color: lightblue;
}
.Submitted, .Scheduled {
  background-color: lightblue;
}
.Running {
  background-color: gold;
}
.Failed{
  background-color: lightpink;
}
.progress {
  background-color: #bdd3fb;
  border-radius: 0;
  box-shadow: none;
  height: 29px;
  margin-bottom: 0;
  overflow: hidden;
  padding: 0 !important;
  margin-top: 1px;
}
.progress-bar > .job-completed {
  font-size:1.0rem;
  left:8px;
  position:absolute;
  top:3px;
  white-space: nowrap;
}
.table{
  table-layout:fixed;
}
.table-break-all, .field-src_incl_db, .field-src_skip_db, .field-tgt_host,  .field-tgt_db_name
{
  word-break: break-all;
}

.col-sm-2.tablekey {
  background-color: lightgray;
}
.field-src_incl_db, .field-src_skip_db, .field-tgt_host, .field-tgt_db_name, .field-src_host
{
  max-width: available;
}
.row1, .row2 {
  vertical-align: top;
}
.action-checkbox {
  vertical-align: auto;
}
.tabular.inline-related .form-row {
  display:table-row;
}
.tabular.inline-related .empty-form {
  display: none;
}
