{% extends 'admin/change_form.html' %}
{% load static %}
{% block content %}
    {% if change %}
    <div class="container-fluid">
        <div class="p-3 my-3 border">
            <h1>Changing</h1>
            <a href="{% url 'admin:ensembl_dbcopy_requestjob_changelist' %}" class="btn btn-secondary" role="button">Back
                to
                list</a>
            <a href="{% url 'admin:ensembl_dbcopy_requestjob_add' %}" class="btn btn-secondary" role="button">Submit New
                Copy</a>
            {% if user.is_superuser %}
                <a href="{% url 'ensembl_dbcopy:reset_failed_jobs' original.job_id %}" class="btn btn-secondary" role="button">Reset failed jobs</a>
            {% endif %}
            <a href="{% url 'admin:ensembl_dbcopy_requestjob_change' original.job_id %}" class="btn btn-secondary"
               role="button">Refresh</a>
            <a href="{% url 'admin:ensembl_dbcopy_requestjob_add' %}?from_request_job={{ original.pk }}"
               class="btn btn-secondary" role="button">Resubmit job</a>
        </div>
        <div class="p-3 my-3 border">
            <form type="get" action=".">
                <input id="search_box" class="btn btn-secondary" type="text" name="search_box" placeholder="Search...">
                <button id="search_submit" class="btn btn-secondary" type="submit">Submit</button>
            </form>
        </div>
        <div class="p-3 my-3 border">
            <div class="row">
                <div class="col-sm-2">
                    <div class="tablekey">Job ID:</div>
                </div>
                <div class="col-sm-10 tablevalue">{{ original.job_id }}</div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="tablekey">Source Host:</div>
                </div>
                <div class="col-sm-10 tablevalue">{{ original.src_host }}</div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="tablekey">Source DBs:</div>
                </div>
                <div class="col-sm-10 tablevalue">
                    {% if original.src_incl_db %}
                        {{ original.src_incl_db }} {% if original.src_skip_db %} excluding {{ original.src_skip_db }} {% endif %}
                    {% else %}
                        All databases {% if original.src_skip_db %} excluding {{ original.src_skip_db }} {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="tablekey">Source Tables:</div>
                </div>
                <div class="col-sm-10 tablevalue">
                    {% if original.src_incl_tables %}
                        {{ original.src_incl_tables }} {% if original.src_skip_tables %} excluding {{ original.src_skip_tables }} {% endif %}
                    {% else %}
                        All tables {% if original.src_skip_tables %} excluding {{ original.src_skip_tables }} {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="tablekey">Target Hosts:</div>
                </div>
                <div class="col-sm-10 tablevalue">{{ original.tgt_host }}</div>
            </div>
            {% if original.tgt_db_name %}
                <div class="row">
                    <div class="col-sm-2">
                        <div class="tablekey">Target DB:</div>
                    </div>
                    <div class="col-sm-10 tablevalue">{{ original.tgt_db_name }}</div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-sm-2">
                    <div class="tablekey">Copy start:</div>
                </div>
                <div class="col-sm-10 tablevalue">{{ original.start_date }}</div>
            </div>
            {% if original.overall_status == 'Complete' %}
                <div class="row">
                    <div class="col-sm-2">
                        <div class="tablekey">Copy end:</div>
                    </div>
                    <div class="col-sm-10 tablevalue">{{ original.end_date }}</div>
                </div>
            {% endif %}
            {% if original.detailed_status.status_msg == 'Running' %}
                <div class="row">
                    <div class="col-sm-2">
                        <div class="tablekey">Current task:</div>
                    </div>
                    {% if running_copy.table_name %}
                        <div class="col-sm-10 tablevalue {{ original.detailed_status.status_msg }}">{{ original.detailed_status.status_msg }}:
                            Copying table {{ running_copy.table_name }}
                            for {{ running_copy.renamed_table_schema }}
                            to {{ running_copy.tgt_host }} in progress...
                        </div>
                    {% else %}
                        <div class="col-sm-10 tablevalue {{ original.detailed_status.status_msg }}">{{ original.detailed_status.status_msg }}:
                            Post-copy tasks in progress...
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="tablekey">Progress:</div>
                    </div>
                    <div class="col-sm-10 tablevalue progress">
                        <div class="progress-bar tablevalue"
                             style="width:{{ original.detailed_status.progress }}%">
                            <span class="job-completed">{{ original.detailed_status.table_copied }}/{{ original.detailed_status.total_tables }} tasks done</span>
                        </div>
                    </div>
                </div>
            {% elif original.detailed_status.status_msg == 'Failed' and original.failed_msg %}
                <div class="row">
                    <div class="col-sm-2">
                        <div class="tablekey">Details:</div>
                    </div>
                    <div class="col-sm-10 tablevalue {{ original.detailed_status.status_msg }}">{{ original.detailed_status.status_msg }}: {{ original.failed_msg }}</div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-sm-2">
                        <div class="tablekey">Status:</div>
                    </div>
                    <div class="col-sm-10 tablevalue {{ original.detailed_status.status_msg }}">{{ original.detailed_status.status_msg }}</div>
                </div>
            {% endif %}
        </div>
        {% if transfer_logs %}
            <div class="p-3 my-3 border">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Target Host</th>
                        <th>Database name</th>
                        <th>Table name</th>
                        <th>Copy start</th>
                        <th>Copy end</th>
                        <th>Table size</th>
                        <th>status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for log in transfer_logs %}
                        {% if log.message %}
                            {% if log.table_status != 'Complete' %}
                               <div class="p-3 my-3 border">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="tablekey">Failure detail:</div>
                                        </div>
                                        <div class="col-sm-10 tablevalue Failed"> {{ log.table_schema }}.{{ log.table_name }}: {{ log.message }}</div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                        <tr>
                            <td class="table-break-all">{{ log.tgt_host }}</td>
                            <td class="table-break-all">{{ log.renamed_table_schema }}</td>
                            <td class="table-break-all">{{ log.table_name }}</td>
                            <td class="table-break-all">{{ log.start_date }}</td>
                            <td class="table-break-all">{{ log.end_date }}</td>
                            <td class="table-break-all">{{ log.size }}</td>
                            <td class="table-break-all {{ log.table_status }}">{{ log.table_status }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <span class="pagination">
            {% if transfer_logs.has_previous %}
                {% if 'search_box' in request.get_full_path %}
                    <a class="page-link" href="{{ request.get_full_path }}&page=1">&laquo; first</a>
                    <a class="page-link"
                       href="{{ request.get_full_path }}&page={{ transfer_logs.previous_page_number }}">previous</a>
                {% else %}
                    <a class="page-link" href="?page=1">&laquo; first</a>
                    <a class="page-link" href="?page={{ transfer_logs.previous_page_number }}">previous</a>
                {% endif %}
            {% endif %}
                    <span class="page-link">
                Page {{ transfer_logs.number }} of {{ transfer_logs.paginator.num_pages }}.
            </span>
                    {% if transfer_logs.has_next %}
                        {% if 'search_box' in request.get_full_path %}
                            <a class="page-link"
                               href="{{ request.get_full_path }}&page={{ transfer_logs.next_page_number }}">next</a>
                            <a class="page-link"
                               href="{{ request.get_full_path }}&page={{ transfer_logs.paginator.num_pages }}">last &raquo;</a>
                        {% else %}
                            <a class="page-link"
                               href="?page={{ transfer_logs.next_page_number }}">next</a>
                            <a class="page-link" href="?page={{ transfer_logs.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    {% endif %}
        </span>
            </div>
        {% endif %}
    </div>
    {% else %}
        {% load crispy_forms_tags %}
        <div class="container-fluid">
            <h1>Adding form</h1>

            <div class="p-3 my-3 border">
                {% block submit %}
                    {% crispy adminform.form adminform.form.helper %}
                {% endblock submit %}
            </div>
        </div>
    {% endif %}
{% endblock content %}
