{% extends "admin/delete_selected_confirmation.html" %}
{% block content %}
{% if deletable_objects and deletable_objects.0|length_is:"0" %}
    <div class="alert alert-danger" role="alert">
        <strong>Alert:</strong> You cannot delete any of the selected {{ objects_name }}. Please go back.
    </div>
    <a href="#" class="button cancel-link">Take me back</a>
{% else %}
    {% if deletable_objects and queryset|length > deletable_objects.0|length %}
        <div class="alert alert-warning" role="alert">
            <strong>Alert:</strong> Some selected {{ objects_name }} cannot be deleted and won't appear in the following list.
        </div>
    {% endif %}

    {{ block.super }}
{% endif %}
{% endblock %}
