{% extends 'admin/change_form.html' %}
{% load static %}

{% block content_title %}
    <img class="" src="{% static original.img %}" alt="{{ original.name }}" style="height: 50px">
{% endblock %}

{% block page_content %}
    <div>
        {{ block.super }}
    </div>
{% endblock %}

{% block content %}
    <div id="content-main" class="col-12">

        <div class="iframe-container" title="{{ original.app_name }}">
            <div id="spinner">
                <svg width="140" height="140" viewBox="0 0 280 280" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <line x1="59.9833" y1="140.333" x2="219.978" y2="139" stroke="#000" stroke-width="4"></line>
                        <circle cx="60" cy="140" r="5" fill="#000"></circle>
                        <circle cx="220" cy="139" r="5" fill="#000"></circle>
                    </g>
                    <path class="circle"
                          d="M109.957 122.655L140 105.309L170.043 122.655V157.345L140 174.691L109.957 157.345V122.655Z"
                          stroke="#000" stroke-width="4"></path>
                    <circle class="circle" cx="140" cy="140" r="13" stroke="#f5d77b" stroke-width="4"></circle>
                    <circle class="circle" cx="110" cy="192" r="13" stroke="#f7a78f" stroke-width="4"></circle>
                    <circle class="circle circle_s" cx="85" cy="232" r="8" stroke="#82c7c5" stroke-width="4"></circle>
                    <circle class="circle" cx="170" cy="88" r="13" stroke="#82c7c5" stroke-width="4"></circle>
                    <circle class="circle circle_s" cx="110" cy="192" r="5" fill="#f7a78f"></circle>
                    <circle class="circle circle_s" cx="185" cy="61" r="5" fill="#f5d77b"></circle>
                </svg>
            </div>
            <iframe id='app-iframe' class="app-iframe" src="{{ original.app_url }}" allow="accelerometer;" allowfullscreen
                    onload="document.getElementById('spinner').style.display='none';"></iframe>
        </div>
    </div>
{% endblock %}
