<!-- menu_bar.inc.html -->
{% load static %}
{% load sitetree %}
<nav class="navbar navbar-expand-lg navbar-dark bg-faded fixed-top"
     style="background-color: #{{ flask_app.app_theme|default:'343A40' }} !important">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img style="max-height:50px; margin-top: -7px;"
                 src="/static/img/{{ flask_app.img|default:'logo_industry.png' }}"/>
            <span class="nav-item">{{ flask_app.app_name|default:"Production Service Portal" }}</span>
        </a>
        <div class="pull-right">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% sitetree_menu from "maintree" include "trunk" template "sitetree/menu_bootstrap4.html" %}
            </div>
        </div>
    </div>
</nav>
<!-- menu_bar.inc.html -->