{% extends "home.html" %}
{% block extra_headers %}
    <style>
        @import "https://fonts.googleapis.com/css?family=VT323";

        .bsod {
            font: normal 20px / 1.25rem "VT323";
            background: #0414a7;
            padding-top: 10%;
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
        }

        .bsod h1 {
            font: normal 2.75rem / 1.05em "VT323";
        }


        .neg {
            text-align: center;
            color: #0414a7;
        }

        .bg {
            background: #aaaaaa;
            padding: 0 15px 2px 13px;
        }

        .title {
            margin-bottom: 50px;
        }


    </style>
{% endblock %}
{% block content %}
    <div class="bsod container-fluid">
        <div class="container">
        <h1 class="neg title"><span class="bg">Error - 404</span></h1>
        <p>An error has occured, to continue:</p>
        <p>* Return to our homepage.<br/>
            * Send us an e-mail about this error and try later.</p>
        </div>
    </div>
{% endblock %}

