<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    {% include "inc/headers.inc.html" with app_theme=flask_app.app_theme %}
    <title>{{ flask_app.app_name }}</title>

</head>
<body>
{% include "inc/menu_bar.inc.html"  with current=flask_app.app_prod_url flask_app=flask_app %}
<div class="container">
    <div class="frame-row">
        <iframe id='app-iframe' width=100% height=100% src="{{ flask_app.app_url }}" frameborder="0"></iframe>
    </div>
</div>
{% include "inc/footer.inc.html" with app_theme=flask_app.app_theme %}
{% include "inc/javascripts.inc.html" %}
</body>
</html>