<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>

    <title>{% block title %}Production Services Portal {{ page_name }}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    {% include "inc/headers.inc.html"  with app_theme=flask_app.app_theme %}
    {% block extra_headers %}{% endblock %}
    {% block extrastyle %}{% endblock %}
</head>

<body>

<!-- Navigation -->
<header>
    {% include "inc/menu_bar.inc.html"  with current=flask_app.app_prod_url flask_app=flask_app %}
</header>
<!-- Page Content -->
<div class="page-content">

    {% block content %}
        <div class="container">

            <!-- Jumbotron Header -->
            <header class="jumbotron my-4">
                <h1 class="display-3">{% if user.is_authenticated %}Welcome back
                    {{ user.first_name|default:user.username }}!{% else %}Production Services{% endif %}</h1>
                <p class="lead">
                    Here to help you publishing your data. <br/>
                    <span class="float-right">>>> One portal to rule them all.<<<</span>
                    <br/>
                </p>
                <p class="float-right">
                    {% if user.is_authenticated %}
                        <a class="btn btn-dark" href="{% url 'logout' %}?next=/">Log out</a>
                    {% else %}
                        <a class="btn btn-outline-dark" href="{% url 'admin:login' %}?next={% url 'home' %}">Sign In</a>
                    {% endif %}
                </p>
            </header>
            {% if user.is_authenticated %}
                <!-- Page Features -->
                <div class="row text-center">

                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="/app/vertebrates/">
                                <img class="bd-placeholder-img card-img-top" height="225"
                                     src="{% static "img/vertebrates.png" %}"
                                     aria-label="Placeholder: Thumbnail" title="Placeholder"/>
                                <div class="card-body">
                                    <p class="card-text text-primary">Vertebrates</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="/app/microbes/">
                                <img class="bd-placeholder-img card-img-top" height="225"
                                     src="{% static "img/microbes.png" %}"
                                     aria-label="Placeholder: Thumbnail" title="Placeholder"/>
                                <div class="card-body">
                                    <p class="card-text text-primary">Microbes/Bacteria</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="/app/metazoa/">
                                <img class="bd-placeholder-img card-img-top" height="225"
                                     src="{% static "img/metazoa.png" %}"
                                     aria-label="Placeholder: Thumbnail" title="Placeholder"/>
                                <div class="card-body">
                                    <p class="card-text text-primary">Metazoa</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="/app/plants/">
                                <img class="bd-placeholder-img card-img-top" height="225"
                                     src="{% static "img/plants.png" %}"
                                     aria-label="Placeholder: Thumbnail" title="Placeholder"/>
                                <div class="card-body">
                                    <p class="card-text text-primary">Plants</p>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
                <!-- /.row -->

                </div>
            {% endif %}
        <!-- /.container -->
    {% endblock %}
</div>
{% include "inc/footer.inc.html" %}
{% include "inc/javascripts.inc.html" %}
{% block extra_script %}{% endblock %}
</body>
</html>