body {
    padding-top: 65px;
    padding-bottom: 30px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    z-index: 1000;
}

.frame-row {
    top: 65px;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    left: 0;
    right: 0;
    bottom: 30px;
}

.frame-row.admin, .frame-row.ensembl_production_db, .frame-row.ensembl_website {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}

#topNavBar {
    margin-bottom: 10px;
}

#topNavBar {
    margin-bottom: 10px;
}

.sidebar {
    top: 50px;
}

.sidebar-popup-container {
    top: 65px;
}

#topNavBar ul li {
    list-style: none;
}

#user-tools .sidebar-dependent {
    top: 80px;
}

.related-popup-container {
    top: 65px;
}

.form-row.errors {
    display: block;
}

#analysis-group .form-row {
    display: contents;
}

.related-widget-wrapper {
    display: flex;
}

/* SIDE BAR */

#body-row {
    margin-left: 0;
    margin-right: 0;
}

#sidebar-container {
    min-height: 100vh;
    background-color: #333;
    padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}

.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}

.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}

.sidebar-separator {
    background-color: #333;
    height: 25px;
}

.logo-separator {
    background-color: #333;
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
    content: " \f0d7";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}

/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
    content: " \f0da";
    font-family: FontAwesome, serif;
    display: inline;
    text-align: right;
    padding-left: 10px;
}

/* END SIDE BAR */

