
body.jazzmin-login-page {
  background: #333333 url("/static/portal/img/splash.jpg") no-repeat center center;
  background-size: cover;

}
.login-logo {
  display: none;
}

.select2-container {
  max-width: 75%;
}

#requestjob_form li.select2-selection__choice {
  padding-left: 1.7rem !important;
  padding-right: 0.5rem !important;
  background-color: lightsteelblue !important;
  color:#0b2c29 !important;
}

#requestjob_form span.select2-selection__choice__remove {
  font-weight: bolder!important;
  color: darkred !important;
}

.admin_app_logo {
    max-width: 30px;
}
.admin_app_theme_color {
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}
.field-division li, .field-db_type li {
  list-style: none;
}


.card-thumbnail img {
  max-height: 250px;
  min-height: 50px;
  overflow: hidden;
}

/* CKEditor fixe */
#cke_id_content {
  width: auto!important;
}
textarea {
  max-width: 100%
}

.main-footer {
  opacity:100%;
  background-color: whitesmoke;
}

#requestjob_form .select2.select2-container.select2-container--default ~ span.select2 {
  display:none
}

.select2-container {
  width: auto !important;
}

#requestjob_form .form-group .row p.errornote.alert {
  display: none
}

#requestjob_form #id_email_list {
  width: 420px;
}

#requestjob_form input[type='text'] {
  min-height: 37px;
  border-radius: 4px;
  box-sizing: border-box;
  padding-left: 10px;
}
.scheme-container {
  background: unset !important;
}

.breadcrumb {
  background-color: ghostwhite!important;
  padding: 2px 5px!important;
}
